<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block content %}
            Journal
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('startpage')}}">Start page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('users_app.users')}}">Users page</a>
            </li>
             <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('posts_app.posts')}}">Post page</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main_container" >
        <div>
        {% block body %}
            <h2>Journal</h2>
        {% endblock %}
        </div>
    </div>

</body>

</html>